// Mobile Positions
$rock-original-mobile-Y: -20%;
$paper-original-mobile-Y: -20%;
$scissors-original-mobile-Y: -20%;

$rock-bonus-mobile-Y: 80%;
$paper-bonus-mobile-Y: 20%;
$scissors-bonus-mobile-Y: -20%;
$spock-bonus-mobile-Y: 20%;
$lizard-bonus-mobile-Y: 80%;

// Desktop Positions
$rock-original-desktop-Y: 50%;
$rock-original-desktop-X: 0%;

$paper-original-desktop-Y: -31%;
$paper-original-desktop-X: -26%;

$scissors-original-desktop-Y: -31%;
$scissors-original-desktop-X: 66%;

$rock-bonus-desktop-Y: 75%;
$paper-bonus-desktop-Y: 15%;
$scissors-bonus-desktop-Y: -20%;
$spock-bonus-desktop-Y: 15%;
$lizard-bonus-desktop-Y: 75%;