.animateHeader-enter-done,
.animateHeader-exit {
    opacity: 1;
}

.animateHeader-exit-active {
    opacity: 0;
    transition: opacity 400ms,
}

.animateHeader-enter,
.animateHeader-exit-done {
    opacity: 0;
}

.animateHeader-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}